body {
  color: #eee;
  background: #121212;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  font-size: 100%;
}
.chat-area {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}
.messages-area {
  padding: 1rem 0;
  word-break: break-word;
}
.canvas {
  position: absolute;
  box-shadow: 0 0 25px rgba(0,0,0,0.025);
}